.page_header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 2;
    background: black;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
    justify-content: center;
    transition: transform 0.3s;
}

.scrollup{
    transform: none;
}

.scrolldown{
    transform: translate3d(0, -100%, 0);
}

.nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favoritebutton{
    cursor:pointer
}

.favoritebutton:hover{
    opacity: 0.5;
}

.logo{
    font-family: 'Mochiy Pop P One', sans-serif;
    cursor:pointer
}

@media screen and (max-width: 700px){
    .nav{
        width: 100%
    }
}